.a-header{
    // display: flex;
    
    .a-container{
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        
            .circle{
                background-color: teal;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                

                span{
                    color: white;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    font-weight: 400;
                }
                
            }
        
        .links{
            display: flex;
            justify-content: center;

            .link{
                font-size: 12px;
                color: inherit;
                display: flex;
                align-items: center;
            }
        }
    }
}