.archive-page {
  display: flex;
    .container{
      display: flex;
      flex-direction: column;
      border: 1px solid #e0e0e0;
      margin: 2rem;
      min-height: 300px;
      border-radius: 5px;
        
      }

  }
  
  .archive-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    .archive-item {
      padding: 10px;
      border: 1px solid #e0e0e0;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: #e0e0e0;
    }
    
    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      button {
        margin-right: 10px;
      }
    }
    
  }
  