.archive-page {
    display: flex;

    .container{
      display: flex;
      
        h1{
          
        }

        .form{
          
        }

        .component{
          
        }
        
      }

      .cont_vide{
        display: flex;
        justify-content: center;
        .pub_vide{
            display: flex;
            justify-content: center;
            background-color:  #E0E0E0;
            padding: 2rem;
            // width: 500px;
            color: #1f1e1e;
            font-size: 13px;
        }
    }
    

  }
  
  .archive-list {
    margin-top: 20px;
  }
  
  .archive-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .actions button {
    margin-right: 10px;
  }
  