
    .l-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--lightBlue);
        
        h1{
            font-size: 1.2rem;
            font-weight: 700;
            color: teal;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 50px;
            width: 300px;
            background-color: white;
            border-radius: 5px;

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button{
                background-color: teal;
                padding: 10px;
                color: white;
                border-radius: 5px;

                &:disabled{
                    cursor: none;
                    background-color: rgba(0, 128, 128, 0.473);
                }
            }

            span{
                font-size: 12px;
                text-align: center;
                .link{
                    color: blue;
                    text-decoration: underline;
                }
            }

            p{
                font-size: 12px;
                text-align: center;
                color: red;
            }
        }
    }
